<h4>Nouvelle configuration</h4>

<div class="well">
    {{ form_start(form , {'attr' : {'class' : 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.client , "Nom client" , {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.client) }}

        <div class="col-sm-4">
            {{ form_widget(form.client , {'attr' : {'class' : 'clientClass form-control'}}) }}
        </div>
    </div>


    <div class="form-group">
        {{ form_label(form.carrier , "Transporteur" , {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.carrier) }}

        <div class="col-sm-4">
            {{ form_widget(form.carrier , {'attr' : {'class' : 'carrierClass form-control'}}) }}
        </div>
    </div>


    <div class="form-group">
        {{ form_label(form.code , "Code" , {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.code) }}

        <div class="col-sm-4">
            {{ form_widget(form.code , {'attr' : {'class' : 'carrierClass form-control'}}) }}
        </div>
    </div>


    <p class="config">

    </p>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>